set default=0
set timeout=5

# ─── Menu ───────────────────────────────────────────────────────────────────
# Gerado pelo liz — ISO Builder

insmod all_video

menuentry "Live — Try without installing" {
    linux   /live/vmlinuz boot=live components quiet splash
    initrd  /live/initrd.img
}

menuentry "Install — Calamares (Graphical)" {
    linux   /live/vmlinuz boot=live components quiet splash
    initrd  /live/initrd.img
}

menuentry "Boot from hard drive" {
    chainloader (hd0,1)+1
}
