UI menu.c32
PROMPT 0
MENU TITLE liz Boot Menu
TIMEOUT 50

LABEL live
  MENU LABEL Live -- Try without installing
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components quiet splash

LABEL install
  MENU LABEL Install -- Calamares (Graphical)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components quiet splash

LABEL hd
  MENU LABEL Boot from Hard Drive
  LOCALBOOT 0x80
